

// Import Variables
@import "var";

// Import Mixins
@import "mixins";

// Vendors
@import "vendors/font-awesome/fontawesome.scss";
@import "vendors/font-awesome/duotone.scss";
@import "vendors/font-awesome/solid.scss";



// 
// Modules
// 


      
.bshb {
        margin-right: 1rem;
@import"vendors/bootstrap/bootstrap";
@import"modules/button";
@import"modules/form_elements";
@import"modules/room-sortable";
@import"modules/modal";
@import"modules/calendar";
@import"modules/dashboard";
@import"modules/timeline";
@import"modules/settings";
}



@import"modules/title";

.fa {
        font-size: 1.8rem;
}
.icon-light {
        color: $color-master-light;
}
.icon-dark {
                color: $color-master;
                :after {
                        opacity: 0.5;
                }                
}
.hover-warning {
       &:hover {
                color: $color-black;
        }
}