.modal {
        background:rgba(255, 255, 255, 0.651);        

        .modal-dialog {
                margin-top:10vh;
        }
        .modal-title {
                font-size: 1.5rem;
                font-weight: 100;
                padding: 1rem;
        }
        .modal-header,
        .modal-footer {
                border:none;
        }
}

// Pricing Calendar Modal
.modal-footer{
        .restore-price {
                margin-left: 1rem;
                margin-right: auto;
        }
}