.bshb-settings {
        background: $color-white;
        border-radius: $border-radius;
        min-height: 600px;
        padding: 1rem;
}
.bshb-nav{
        .nav-link {
                background: $color-white;
                border-right: 1px solid $color-grey;
                color:$color-text;
                border-radius:0;
                padding: 1rem 0;
                transition: all 0.3s ease-in-out;
                
                &.active,
                &:focus,
                &:hover {
                        background:$color-white;
                        border-right: 3px solid $color-master;
                        color: $color-black;
                        outline:0;
                        box-shadow: none;
                }
        }
}

.settings-container {
        padding:2rem;
        .settings-section{
                padding:1rem;
                margin:2rem 0;

                .setting-desc {
                        color:$color-text;
                }
                .option-desc {
                        color:$color-grey;
                        font-style:italic;
                        margin-top:0.5rem;
                }
        }
}

