.bshb-title {        
        h5 {
                color: $color-heading;
                font-size: 1.5rem;
                 font-weight: 300;
        }
        .cmb-td {
                padding:1rem;
        }
}