.room-list-wrapper {
        background: $color-white;
        border-radius: $border-radius;
        margin: 4rem 0;
        box-shadow: $box-shadow;

        .room-display {
                position: relative;

                .room-image {
                        height: 300px;
                        background-position: center;
                        background-size: cover;
                        overflow: hidden;

                        img {
                                height: 100%;
                                -o-object-fit: cover;
                                object-fit: cover;
                                width: 100%;
                        }
                }

                .room-amenities {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;

                        &:before {
                                display: block;
                                content: '';
                                background: $color-white;
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                opacity: 0.9;
                        }
                }
        }

        // Room Content : contains title , price and book button.
        .room-content {
                padding: 2rem 1rem;
        }

}

// End of room wrapper



.room-title {
        padding: 2rem;
}

.room-desc {
        padding: 2rem;

        p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
        }

}

.room-price {
        padding: 2rem;
        text-align: center;

        h1 {
                font-size: 3.5rem;
                font-weight: 300;
                line-height: 1.2;
                display: inline;
        }

        p {
                display: inline;
                color: $color-text;
        }
}


.room-info {
        margin: 1rem;
        display: flex;
        justify-content: space-around;


        .room-size,
        .room-adults,
        .room-children {
                display: flex;
                justify-content: center;

                i {
                        margin: 0.5rem 1rem;
                        color: $color-master;

                        :after {
                                opacity: 0.5;
                        }
                }

                p {
                        margin: 0.2rem 0;

                }
        }

}

.room-add-cart {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem;

        .room-count-text{
                margin:0;
        }
}



.available-rooms {
        text-align: right;
        margin: 0 2rem 2rem 2rem;
        padding: 1rem;
        background-color: $color-master-light;
        border-radius: $border-radius;
}