.search-filters {
        padding: 2rem;
        display: flex;
        justify-content: space-between;

        .filter {
                background: $color-white;
                border-radius: $border-radius;
                margin: 1rem;
                font-size: 1.8rem;

                i {
                        margin: 1rem;
                        color: $color-master;

                        :after {
                                opacity: 0.5;
                        }
                }

                &:hover {
                        box-shadow: $box-shadow;
                        cursor: pointer;
                }

                .dropdown-menu {
                        .dropdown-item {
                                &:hover {
                                        background: $color-master-light;
                                }
                        }
                }
        }
}