.session-dates {
        padding: 1em;
        margin:1em 0;
        border-radius: $border-radius;

        .date-heading {
                color: $color-text;
        }

        .stay-dates {
                display: flex;
                justify-content: center;
        }

        .month-year {
                text-align: center;
                padding: 1em 0 0.5em 0;
        }

        .day {
                span {
                        font-size: 3.5em;
                }
        }
        .empty-dates {
                padding: 1em;
                margin:0;
                text-align:center;
        }
}